:root {
  // a element fs for desktop
  --fs-a-1 :1.4rem;
  //primay heading for desktop
  --fs-h-1: 5.6rem;
  //a element for both view port
  --fs-b: 1.4rem;
  //big paragraph for  desktop
  --fs-p-lg: 1.8rem;
  // secondary heading desktop
  --fs-h-2: 4rem;
  // paragraph medium for desktop
  --fs-p-md: 1.8rem;
  // tertiary heading for desktop
  --fs-h-3: 2.4rem;
  // paragrpah small for desktop
  --fs-p-sm: 1.6rem;
  // paragraph extra extra small desktop
  --fs-p-xxsm: 1rem;
  // small heading for desktop
  --fs-h-sm: 1.6rem;
  // paragraph extra simall for destop
  --fs-p-xsm: 1.3rem;
}
@media (max-width: 700px){
:root {
  // a element fs for mobile
--fs-a-1: 1.8rem;
// primary heading for mobile
--fs-h-1: 4rem;
//button element for both view port
--fs-b: 1.4rem;
//big paragraph for   mobile
--fs-p-lg: 1.5;
// secondary heading for mobile
--fs-h-2: 3.2rem;
// paragraph medium for mobile
--fs-p-md: 1.5rem;
// tertiary heading for mobile
--fs-h-3: 20rem;
 // paragrpah small for mobile
 --fs-p-sm: 1.6rem;
// paragraph extra extra small mobile
--fs-p-xxsm: 1rem;
// small heading for mobile
--fs-h-sm: 1.6rem;
// paragraph extra simall for mobile
--fs-p-xsm: 1.3rem;


}
}



/*





  


  



 small paragaph for dektop
  18px;
  */