 
@media (min-width: 557px) {
   
    .flex-footer {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .flex-left {
            align-items: left;
            flex-basis: 100%; 
             
        }
        .col-2 {
            display: flex;
            margin-bottom: 2rem;    
        }
        .col-1 {
            margin-bottom: 2rem;
        }
        .col-2 ul{
            
        }
        .col-4 {
            margin-top: 3rem;
        }
    }
    .flex-right {
        

    }
    .col-2 a {
        padding: .5rem;
        margin-bottom: 0;
        

    }
    
}  

@media (min-width: 899px) {
     .social {
         
         span:not(:last-child){
             margin-right: 1.2rem;
         }
     }
    .flex-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .flex-left {
            display: flex;
            flex-basis: 50%;
            justify-content: space-between;
        }
        .col-2 ul{
            margin-right: 5rem;
        }

        
        .footer-logo {
            margin-bottom: 2rem;
        }
        .flex-right {
            display: flex;
            flex-basis: 50%;
            justify-content: space-between;

        }
    }
}

@media (max-width: 556px){
    .footer-logo {
        margin-bottom: 2rem;
    }

    .social {
        margin-bottom: 2rem;
        span:not(:last-child) {
            margin-right: 1.2rem;
        }
    }

}