
.footer {
    color: white;
    background-color: #2D314D;
    padding-top: 4.7rem;
    padding-bottom: 2.9rem;
    text-align: center;

    a {
        color: white;
        padding: .5rem;
        margin-bottom: .5rem;
        display: block;
    }
    .button {
        margin-bottom: 2rem;
        display: inline-block;
    }

}