
.footer {
    color: white;
    background-color: #2D314D;
    padding-top: 4.7rem;
    padding-bottom: 2.9rem;
    text-align: center;
    a {
        color: white;
        padding: 1rem 2rem;
        display: block;
        
    }
    .button-footer {
        padding: 1.6rem 3.8rem;
        border-radius: 3rem;
        font-size: var(--fs-b);
        color: white;
        background-image: linear-gradient(to right ,rgba(51, 211, 94, 1), rgba(42, 182, 217, 1));
        display: inline-block;
        margin: 2rem 0;
    }
    

}