.service-main {
    background-color: darken(#F4F5F7, 0.05%);
    margin-bottom: 2rem;
    position: relative;
    z-index: -100;
    margin-top: 2rem;

    .p-service{
        width: 40%;
        
    }
}
@media (max-width: 700px) {
    .service-main .p-service {
        width: 100%;
    }
}