.desc {
    &__heading {
        
        color: var(--color-font-bg);
        font-size: var(--fs-h-2);
        font-style: normal;
        font-weight: 300;
        line-height: 64px;
        letter-spacing: -0.7142857313156128px;
        text-align: left;
        
    }

    &__paragraph {
        color: var(--color-font-sm);
        text-align: left;
        margin-bottom: var(--margin-bottom-mb);
         font-size: var(--fs-p-md);
    }
}
.service {
    
    &__heading {
        color: var(--color-font-bg);
        font-size: var(--fs-h-3);
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: -0.4285714328289032px;
        text-align: left;
    }
    &__paragraph {
        color: var(--color-font-sm);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.25px;
        text-align: left;

    }
    &__icon {
        margin-bottom: 4rem;
    }
}

@media (max-width: 700px) {
.desc {
    text-align: center;
    &__heading {
        color: var(--color-font-bg);
        margin-bottom: var(--margin-bottom-mb);
        font-family: inherit;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        text-align: center;
    }

    &__paragraph {
        color: var(--color-font-sm);
        text-align: center;
        margin-bottom: var(--margin-bottom-mb);

    }
}
.service {
    text-align: center;
    &__heading {
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: var(--margin-bottom-mb);
        text-align: center;

    }
    &__paragraph {
        color: var(--color-font-sm);
        text-align: center;
        margin-bottom: var(--margin-bottom-mb);

    }

    &__icon {
        margin-bottom: 2.7rem;
        
    }
    
}
}