@media (min-width: 700px) {
.desc {
    &__heading {
        color: var(--color-font-bg);
        text-align: center;
        margin-bottom: var(--margin-bottom-mb);
        font-family: inherit;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        text-align: left;

    }

    &__paragraph {
        color: var(--color-font-sm);
        text-align: left;
        margin-bottom: var(--margin-bottom-mb);

    }
}
.service {
    &__heading {
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: var(--margin-bottom-mb);
        text-align: left;

    }
    &__paragraph {
        color: var(--color-font-sm);
        text-align: left;
        margin-bottom: var(--margin-bottom-mb);

    }
    
}
}